.board-container {
    display: grid;
}
p{
    margin: 0;
}
.App {
    margin: 0 auto;
}
.bot-details-container {
    display: grid;
    column-gap: 1em;
    padding: 0.2em;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

.score{
    height: 1em;
    width: 100%;
    border: 1px solid #000000;
    background-color: #D9D9D9;
    margin-bottom: 1px;
}
.bot-name{
    font-weight: bolder;
    font-size: 1.05rem;
    line-height: 21px;
    text-align: center;
}
.details p{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}
.score_alt{

}
.board-heading{
    text-align: center;
}
.battle-button{
    background: #C4C4C4;
    border: 5px solid #000000;
    border-radius: 10px;
    justify-self: center;
    padding: .5em .8em;
    font-size: 2.1rem;
    cursor: pointer;
    /*margin-top: 1em;*/
}

/*Media Queries*/
@media screen and (min-width: 568px) {
    .board-container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1em;
        padding-inline: 1em;
    }
    .board-heading{
        display: block;
        grid-column: span 2;
    }
    .bot-details-container{
        grid-template-columns: minmax(60px,1fr);
        justify-self: center;
        grid-column: 2;
        grid-row: 2;
        align-content: center;
        row-gap: 5px;
    }
    .bot-details{
        display: grid;
        row-gap: 2px;
    }
    .details{
        display: flex;
    }
    .details p{
        text-align: center;
    }
    .battle-button{
        grid-column: 2;
        padding: .2em .8em;
    }
}
