.board-container {
    padding: 0 .5em; 
}
.board-wrapper {
    display: grid;
    background: radial-gradient(39.96% 88.53% at 58.47% 45.71%, rgba(222, 214, 214, 0.2) 0%, rgba(81, 77, 77, 0.2) 50.19%, rgba(242, 242, 242, 0.2) 100%), linear-gradient(180deg, #A5A5A5 0%, #D4D4D4 16.78%, #EFEFEF 38.38%, #BCBCBC 82.29%, #898888 100%);
    box-shadow: inset -10px 0px 2px rgba(0, 0, 0, 0.55), inset 0px -5px 2px rgba(0, 0, 0, 0.55), inset 0px 5px 2px rgba(0, 0, 0, 0.25), inset 10px 0px 2px rgba(0, 0, 0, 0.45);
    padding: .5em;
}
p{
    margin: 0;
}
.App {
    margin: 0 auto;
}
.board-heading{
    font-family: var(--main-font);
    text-align: center;
    margin: .2em 0 .3em 0;
    background-color: #272727;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(168, 168, 168, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}
.bot-details-container {
    display: grid;
    column-gap: .5em;
    padding:  0.4em;
    font-family: var(--pixel-font);
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    background: #6B6B6B;
    box-shadow: 1px 1px 1px 3px #3D3D3D;
    border-radius: 5px;
    /* text-shadow: #474747 3px 5px 2px; */
}
.bot-details {
    background-color: var(--text-main-bright2);
    background-image: url("/src/assets/images/lines.svg");
    background-size: cover;
    box-shadow: inset -1px -4px 1px rgba(181, 233, 234, 0.6), inset 2px 4px 1px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    padding: .1em;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

.score{
    height: 1em;
    border: 1px solid #000000;
    /* background-color: #D9D9D9; */
    margin-bottom: 1px;
}
.bot-name{
    font-family: var(--pixel-font);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
}
.details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.details p{
    text-transform: uppercase;
    font-weight: 400;
    font-size: .8rem;
    line-height: 1.2;
    margin: .1em 0;
}
.dark {
    background-color: var(--text-main-dark);
    color: var(--text-main-bright);
}
.light {
    text-align: right;
}
.score_alt{
/* Do we need this? */
}
.battle-button {
    background-color: var(--text-main-bright2);
    background: url("/src/assets/images/name_background.png");
    background-size: cover;
    border: 5px solid #000000;
    border-radius: 10px;
    justify-self: center;
    width: 8rem;
    padding: .1em 0;
    font-family: var(--pixel-font);
    font-size: 2.1rem;
    cursor: pointer;
    transition: var(--hover-transition);
}

.battle-button:hover  {
    color: var(--text-pink);
}

/*Media Queries*/
@media screen and (min-width: 768px) {
    .board-container {
        padding: 0 5em;
    }
    .board-wrapper {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1em;
        padding:  0 0 1.3em 0;
    }
    .board-heading{
        display: block;
        grid-column: span 2;
        margin-bottom: .5em;
    }
    .bot-details-container{
        grid-template-columns: minmax(40px,1fr);
        justify-self: center;
        grid-column: 2;
        grid-row: 2;
        width: 70%;
        align-content: center;
        row-gap: 1em;
        font-size: 1.2rem;
        /* margin-bottom: 4em; */
    }
    .score {
        width: 100%;
    }
    .bot-details{
        display: grid;
        row-gap: 2px;
        padding: .5em 1em;
    }
    .details{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .details p{
        text-align: center;
        font-size: 1.2rem;
    }
    .battle-button{
        width: 6em;
        grid-column: span 2;
        margin: 1em;
    }
}
/* very small VW  */
@media screen and (max-width: 380px) {
    .board-container {
        width: min-content;
    }
}
@media screen and (min-width: 1500px) {
    .board-container {
        max-width: 1600px;
        margin: 0 auto;
    }
}
