
.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 21em;
    height: 21em;
    margin: 1em auto;
    border: .7em solid #6B6B6B;
    box-shadow: 1px 1px 1px 3px #3D3D3D;
    border-radius: 5px;
  }

  .grid-cell {
    width: 100%;
    height: 100%;
    border: 1px solid #000000;
    /* background-color: #D9D9D9; */
  }
@media screen and (min-width: 768px) {
    .grid-container {
      width: 25em;
      height:25em;
      align-self: center;
      justify-self: center;
      grid-row: span 3;
      margin: 0 1em;
    }
}
