
.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    max-width: 22em;
    max-height: 22em;
    margin: 1em auto;
    border: .7em solid #6B6B6B;
    box-shadow: 1px 1px 1px 3px #3D3D3D;
    border-radius: 5px;
  }

  .grid-cell {
    max-width: 100%;
    max-height: 100%;
    width: 38px;
    height: 38px;
    border: 1px solid #000000;
    overflow: hidden;
  }
@media screen and (min-width: 1024px) {
    .grid-container {
      justify-self: center;
      margin: 0;
      max-width: 25em;
      max-height: 25em;
    }
    .grid-cell{
      width: 45px;
      height: 45px;
    }
}

@media screen and (max-width: 380px) {
  .grid-container{
    max-width: 17em;
    max-height: 17em;
  }
  .grid-cell{
    width: 30px;
    height: 30px;
  }
}
.buttons-container {
  grid-column: 1 / -1;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 10px;
}

.buttons-container button {
  display: block;
}