:root {
  --hover-transition: 300ms;
  --hover-transition-slow: 500ms;
}
body {
  margin: 0;
  background-color: #162c55cf;
  background-image: url(/src/assets/images/lines.svg), url(/src/assets/images/background-main3.jpg) ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.layoutWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
  overflow: hidden;
}
h2 {
  font-size: clamp(1.4rem, 3.5vw, 3rem);
}
h3 {
  font-size: clamp(1rem, 1.5vw, 2.2rem); 
}
p {
  font-size: clamp(1rem, 1vw, 2rem);
}
.headerWrapper h1,
.welcomeCont,
.footerWrapper h4 {
  font-family: var(--main-font);
}
.headerWrapper h1 {
  font-size: var(--header-h1);
  color: var(--text-main-dark);
  margin: 0;
  text-align: center;
  -webkit-text-stroke-color: var(--text-pink);
  -webkit-text-stroke-width: 1px;
}
.footerWrapper {
  display: flex;
  justify-content: space-between;
  background-color: #162C5590;
  width: 90%;
  align-self: center;
  padding: 0.8rem;
}
.footerWrapper p {
  font-family: var(--pixel-font);
  font-size: clamp(1rem, 1.5vw, 2rem);
}
.footerWrapper h4 {
  font-size: clamp(1.2rem, 2.5vw, 2.7rem);
}
.footerWrapper a {
  color:var(--text-main-bright);
  text-decoration: none;
  transition: var(--hover-transition);
}
.footerWrapper a:hover,
.footerWrapper a:focus {
  color: var(--text-pink);
}
