@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.spinner-loader {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    border: .5rem solid rgba(255, 0, 230, 0.2);
    border-top-color: rgb(186, 0, 168);
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    /* display: none; */
}

/* .spinner-loader.active { 
    display: block;
}*/