.modal-overlay {
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0, .4);
}
.modal-content {
    width: 90%;
    margin: 6em auto;
    /* background-image: url(/src/assets/images/lines.svg); */
    background-size: 100%;
    background-color: rgb(84, 249, 253);
    font-family: var(--pixel-font);
    padding: 1em;
}
.close-modal {
    border: black 2px groove;
    font-family: var(--pixel-font);
    background: none;
    font-size: 1.2rem;
    font-weight: 700;
    transition: var(--hover-transition);
}
.close-modal:hover, 
.close-modal:focus {
    background-color: var(--text-main-dark);
    color: var(--text-main-bright);
}

.bot-winner-container {
    max-width: 400px;
    margin: 0 auto;
}

.bot-winner-container h2 {
    margin: 0;
}

.bot-container {
    width: 400px;
    margin: 0 auto;
}

.log-row {
    display: flex;
    justify-content: center;
    gap: 2em;
    width: 100%;
    margin: 2em auto 0 auto;
    flex-wrap: wrap;
}

.vs {
    text-align: center;
}

.battle-winner-text {
    color: green;
    text-align: center;
    font-weight: bold;
}

.battle-loser-text {
    color: red;
    text-align: center;
    font-weight: bold;
}

.battle-tie-text {
    font-weight: bold;
    text-align: center;
}