
.welcomePageWrapper { 
  display: flex;
  flex-direction: column;
}
.welcomeCont {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  color: var(--text-main-dark);
  width: 80%;
  margin: 2em auto;
}
.infoCardMobile {
  width: 100%;
  grid-area: 1/1/6/6;
}
.infoCardDesk {
  display: none;
  width: 100%;
  grid-area: 1/1/6/6;
  margin: 0 auto;
}
.welcomeCont button {
  grid-area: 1 / 4 / 2 / 6; 
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  color: var(--text-main-dark);
  background: none;
  padding-bottom: 1em;
  border: none;
  z-index: 1;
}
.welcomeCont button>h2 {
  margin-top: 0;
  transition: var(--hover-transition);
}

/* Start button hover and focus animation */
.welcomeCont button>h2:hover,
.welcomeCont button:focus{
  color: var(--text-pink);
  -webkit-text-stroke-color: var(--text-main-dark);
  -webkit-text-stroke-width: 1px;
}


.infoCardNumbers{
  font-family: var(--pixel-font);
  grid-area: 1 / 1 / 2 / 2;
  margin-left: 1em;
}
.infoCardText {
  grid-area: 3 / 1/ 6 / 5; 
  margin-left: .5em; 
}
.booleanSVG3 {
  grid-area: 5/5/6/6;
  margin: 0 1em 1.5em 0;
  width: clamp(7em, 10.5vw, 25em);
}
@media (min-width: 768px) {
  .infoCardDesk {
    display: block;
  }
  .infoCardMobile {
    display: none;
  }
}
