/* global fonts for the app will be defined here as CSS variables*/
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=DotGothic16&display=swap');

:root {
    --main-font: 'Bruno Ace SC', sans-serif;
    --pixel-font: 'DotGothic16', sans-serif;
    --header-h1: clamp(3.5rem, 10vw, 15rem);
    
}